.cart-container {
  position: fixed;
  background-color: rgba(29, 29, 29, 0.7);
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .cart-wrapper {
    background: #fff;
    max-width: 570px;
    width: 80%;
    display: flex;
    flex-direction: column;
    transform: translateX(570px);
    transition: height 0.5s, transform 0.5s;

    .cart-heading-wrapper {
      font-size: 20px;
      height: 65px;
      padding-left: 40px;
      padding-right: 40px;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cart-heading-close-btn {
        font-size: 24px;
        color: #1d1d1d;
        cursor: pointer;
      }
    }

    .cart-free-shipping-header {
      background: #f2ed7c;
      letter-spacing: 1px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 13px;
      height: 50px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      color: #1c1b1b;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cart-products-container {
      padding: 40px;
      height: 100%;
      overflow: hidden auto;
      height: calc(100% - 50px - 80px - 50px);
      transform: translateX(570px);
      transition: transform 0.7s ease 0s;

      .cart-product-wrapper {
        display: flex;

        .cart-product-left-column-wrapper {
          height: 200px;
          width: 200px;
          min-width: 200px;

          .cart-product-img {
            width: 100%;
            height: 100%;
          }
        }

        .cart-product-right-column-wrapper {
          padding-left: 20px;
          width: 100%;

          .cart-product-title {
            height: calc(100% / 4);
          }

          .cart-product-price {
            height: calc(100% / 4);
          }

          .cart-product-color-and-size-wrapper {
            display: flex;
            height: calc(100% / 4);

            .cart-product-color-and-size {
              width: 100%;
            }
          }

          .cart-product-quantity-container {
            display: flex;
            justify-content: space-between;
            height: calc(100% / 4);

            .cart-product-quantity-left-column-wrapper {
              width: 90px;
              display: flex;
              background-color: #f6f6f6;
              border: 1px solid #ccc;
              border-radius: 5px;

              .cart-product-quantity-toggle {
                padding: 0px;
                width: calc(100% / 3);
                border: 1px solid transparent;
                background-color: transparent;
                cursor: pointer;
                color: #7f7f7f;

                &:focus {
                  text-decoration: none;
                  outline: none;
                  border: none;
                }
              }

              .cart-product-quantity {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            .cart-product-quantity-right-column-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;

              .cart-product-remove-product-btn {
                border: 1px solid transparent;
                background-color: transparent;
                cursor: pointer;
                font-weight: 500;
                text-decoration-line: underline;
                padding-right: 0px !important;

                &:hover {
                  color: #ff0000;
                }

                &:focus {
                  text-decoration: none;
                  outline: none;
                  border: none;
                }
              }
            }
          }
        }
      }

      .cart-product-wrapper:not(:last-child) {
        padding-bottom: 40px;
      }
    }

    .cart-product-checkout-wrapper {
      padding: 0 40px;
      padding-bottom: 40px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      transform: translateY(120px);
      transition: transform 0.7s ease 0s, opacity 0.7s ease 0s;

      .cart-product-checkout-btn {
        padding: 0.782rem;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        background: #1c1b1b;
        color: #fff;
        border: none;

        &:focus {
          text-decoration: none;
          outline: none;
          border: none;
        }
      }
    }

    .cart-product-no-products-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cart-product-no-products-heading {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}

// Cart Slide In Animation
.cart-slide {
  transform: translateX(0px) !important;
}

// Removing Item From Cart Animation
.cart-product-remove-product-anim {
  position: absolute;
  left: 0px;
  right: 0px;
  transform: scale(0);
  opacity: 0;
  transition: transform 560ms ease-in-out 0ms, opacity 560ms ease-in-out 0ms !important;
}

// No Products When Opened Btn No Show
.checkout-btn-no-show {
  transform: translateY(120px);
  opacity: 0;
}

// Slide the checkout butten in Animation
.checkout-btn-slide-in {
  transform: translateY(0) !important;
}

// No Products Checkout Btn Slide Out Animation
.checkout-btn-translate-out {
  transform: translateY(120px) !important;
  opacity: 0 !important;
}

// Slide the products in Animation
.slide-products-in {
  transform: translateX(0px) !important;
}

@media (max-width: 580px) {
  .cart-container {
    .cart-wrapper {
      .cart-heading-wrapper {
        padding-left: 20px;
        padding-right: 20px;
      }

      .cart-products-container {
        padding: 20px;
        font-size: 14px;
        height: calc(100% - 50px - 60px - 50px);

        .cart-product-wrapper:not(:last-child) {
          padding-bottom: 20px;
        }

        .cart-product-wrapper {
          .cart-product-left-column-wrapper {
            width: 150px;
            min-width: 150px;
            height: 150px;
          }

          .cart-product-right-column-wrapper {
            .cart-product-quantity-container {
              .cart-product-quantity-left-column-wrapper {
                width: 70px;
              }
            }
          }
        }
      }

      .cart-product-checkout-wrapper {
        padding: 0 20px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width: 490px) {
  .cart-product-checkout-wrapper {
    button {
      padding: 0.625rem !important;
    }
  }

  .cart-products-container {
    height: calc(100% - 50px - 55px - 50px) !important;
  }
}

@media (max-width: 440px) {
  .cart-container {
    .cart-wrapper {
      .cart-products-container {
        padding: 20px;
        font-size: 12px;

        .cart-product-wrapper {
          .cart-product-left-column-wrapper {
            width: 100px;
            min-width: 100px;
            height: 100px;
          }

          .cart-product-right-column-wrapper {
            .cart-product-quantity-container {
              .cart-product-quantity-left-column-wrapper {
                width: 60px;

                .cart-product-quantity-toggle {
                  font-size: 10px;
                }
              }

              .cart-product-remove-product-btn {
                font-size: 11px;
              }
            }
          }
        }
      }

      .cart-product-no-products-wrapper {
        .cart-product-no-products-heading {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .cart-container {
    .cart-wrapper {
      .cart-heading-wrapper {
        padding-left: 10px;
        padding-right: 10px;
      }

      .cart-free-shipping-header {
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .cart-products-container {
        padding: 10px;
        font-size: 10px;

        .cart-product-wrapper:not(:last-child) {
          padding-bottom: 10px;
        }

        .cart-product-wrapper {
          .cart-product-left-column-wrapper {
            width: 90px;
            min-width: 90px;
            height: 90px;
          }

          .cart-product-right-column-wrapper {
            padding-left: 10px;

            .cart-product-quantity-container {
              .cart-product-quantity-left-column-wrapper {
                width: 45px;

                .cart-product-quantity-toggle {
                  font-size: 7px;
                }
              }

              .cart-product-remove-product-btn {
                font-size: 9px;
              }
            }
          }
        }
      }

      .cart-product-checkout-wrapper {
        padding: 0 10px;
        padding-bottom: 20px;
      }

      .cart-product-no-products-wrapper {
        .cart-product-no-products-heading {
          font-size: 12px;
        }
      }
    }
  }
}
