@import "./Checkout/Shipping/add-shipping-main-styles.scss";
@import "./Checkout/Shipping/add-shipping-media-queries.scss";

.checkout-container {
  padding-bottom: 80px;

  input {
    &:focus {
      text-emphasis: none;
      text-decoration: none;
      outline: none;
    }
  }

  button {
    &:focus {
      text-emphasis: none;
      text-decoration: none;
      outline: none;
    }
  }
}

.checkout-banner-image {
  height: 40%;
  max-height: 200px;
  width: 100%;
  background-size: cover;
}

.checkout-wrapper {
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 80px;
}

.checkout-express-checkout-wrapper {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-express-checkout-header-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.checkout-express-checkout-header-border {
  margin-top: 8px;
  border: 1px solid #CCC;
  border-bottom: none;
}

.checkout-express-checkout-header-border-left {
  border-right: none;
}
.checkout-express-checkout-header-border-right {
  border-left: none;
}


.checkout-express-checkout-header {
  text-align: center;
}

.checkout-express-checkout-btns-wrapper {
  width: 100%;
  border: 1px solid #CCC;
  border-top: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-express-checkout-btn-wrapper {
  width: 200px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.checkout-express-checkout-btn {
  height: 40px;
  width: 100%;
}

.checkout-options-seperator-wrapper {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.checkout-options-seperator-border {
  margin-top: 8px;
  border-top: 1px solid #CCC;
}

.checkout-options-seperator-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-contact-info-wrapper {
  width: 100%;
  // padding-top: 80px;
}

.checkout-contact-info-header {
  font-size: 18px;
}

.checkout-contact-info-input-wrapper {
  padding-top: 20px;
}

.checkout-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  letter-spacing: 0.75px;
  text-align: center;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #CCC;
  background: #fbfbfb;
  padding: 0 15px;
  font-size: 14px;
  cursor: pointer;

  &:focus {
    text-decoration: none;
    outline: none;
    // border: 1px solid #54b654 !important;
  }

  &::placeholder {
    color: #7c7979;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.75px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #fbfbfb inset !important;
  }
}

.checkout-contact-info-phone-input-wrapper {
  padding-top: 20px;
  display: flex;
}

.checkout-shipping-info-wrapper {
  width: 100%;
}

.checkout-shipping-info-header {
  padding-bottom: 20px;
  font-size: 18px;
}

.checkout-input-padding {
  padding-top: 20px;
}

// .checkout-shipping-info-region-state-city-wrapper {
  
// }

.checkout-left-column-btns-wrapper {
  height: 50px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.checkout-left-column-left-link {
  text-decoration: none;
  color: #1d1d1d; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-left-column-link-icon {
  padding-right: 20px;
}

.checkout-left-column-right-link {
  height: 100%;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: #1d1d1d;
  background-color: #45b3e0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-right-column-wrapper {
  padding-top: 40px;
}

.checkout-product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 40px 0;
  border-bottom: 1px solid #CCC;
}

.checkout-product-image-container {
  display: flex;
  justify-content: center;
}

.checkout-product-image-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
}

.checkout-product-image {
  width: 100%;
  height: 100%;
}

.checkout-product-image-quantity-wrapper {
  position: relative;
}

.checkout-product-image-quantity {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: rgba(114,114,114,0.9);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-product-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-product-title {
  text-align: center;
}

.checkout-product-color {
  text-align: center;
}

.checkout-product-price {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-discount-code-wrapper {
  padding: 40px 0;
  border-bottom: 1px solid #CCC;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.checkout-discount-btn {
  width: 100%;
  height: 45px;
  background-color: #1c1b1b;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95)
  }
}

.checkout-total-calculations-wrapper {
  padding: 40px 0;
  border-bottom: 1px solid #CCC;
}

.checkout-subtotal-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.checkout-subtotal-header {
  font-size: 14px;
}

.checkout-shipping-wrapper {
  display: flex;
  justify-content: space-between;
}

.checkout-shipping-header {
  font-size: 14px;
}

.checkout-total-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

#checkout-payment-request-button-element {
  padding: 0px;
}

.checkout-order-summary-collapsable-container-show-content {
  max-height: 649px !important;
}

.chevron-rotated {
  transform: rotate(-180deg);
}

.checkout-shipping-price {
  font-weight: 500;
}

.checkout-subtotal-price {
  font-weight: 500;
}

.checkout-total-price {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .checkout-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
    padding: 0px 40px;
  }

  .checkout-container {
    padding-bottom: 40px;
  }

  .checkout-express-checkout-btns-wrapper {
    flex-direction: column;
  }

  .checkout-express-checkout-header {
    font-size: 13px;
    padding: 0 5px;
  }

  .checkout-express-checkout-wrapper {
    padding-top: 40px;
  }

  .checkout-options-seperator-wrapper {
    padding-top: 40px;
  }

  .checkout-shipping-info-wrapper {
    margin-top: 40px !important;
  }

  .checkout-left-column-btns-wrapper {
    margin-top: 40px;
  }

  .checkout-right-column-wrapper {
    padding-top: 12.5px;
  }

  .checkout-product-wrapper {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
}

@media (max-width: 465px) {
  .checkout-wrapper {
    padding: 0 20px;
  }

  .checkout-collapsable-order-summary-heading {
    font-size: 15px;
  }

  .checkout-product-info-wrapper {
    font-size: 13px;
  }

  .checkout-product-price {
    font-size: 15px;
  }

  .checkout-express-checkout-btn-wrapper:not(:last-child) {
    margin-bottom: 20px;
  }

  .checkout-express-checkout-header-border {
    margin-top: 15px;
  }

  .checkout-product-image-wrapper {
    width: 90px;
    max-width: 90px;
    height: 90px
  }

  .checkout-input {
    font-size: 13px;
    padding: 0 7px;
  }

  .checkout-wrapper {
    button {
      font-size: 13px;
    }
  }

  .checkout-total-calculations-wrapper {
    font-size: 13px;
  }

  .checkout-shipping-price {
    font-size: 15px;
  }

  .checkout-total-wrapper {
    font-size: 15px;
  }

  .checkout-subtotal-price {
    font-size: 15px;
  }

  // .checkout-shipping-info-region-state-city-wrapper {
    
  // }

  .checkout-shipping-info-name-wrapper {
    
  }

  .checkout-left-column-btns-wrapper {
    font-size: 15px;
  }

  // .choose-payment-chevron {
  //   font-size: 13px;
  // }
}

@media (max-width: 375px) {
  .checkout-collapsable-order-summary-header-wrapper {
    font-size: 16px !important;
  }

  .checkout-collapsable-order-summary-heading {
    font-size: 13px;
    padding-left: 10px !important;
  }

  .checkout-right-column-wrapper {
    padding-top: 14.5px;
  }

  .checkout-left-column-btns-wrapper {
    font-size: 13px;
  }

  // .checkout-input {
  //   font-size: 12px;
  // }

  .checkout-discount-btn {
    font-size: 11px !important;
  }

  // .checkout-total-calculations-wrapper {
  //   font-size: 12px;
  // }

  .checkout-shipping-price {
    font-size: 14px;
  }

  .checkout-subtotal-header {
    font-size: 13px;
  }

  .checkout-shipping-header {
    font-size: 13px;
  }

  .checkout-total-wrapper {
    font-size: 14px;
  }

  .checkout-subtotal-price {
    font-size: 14px;
  }

  .checkout-product-price {
    font-size: 14px;
  }

  .more-info-popup-content {
    font-size: 13px !important;
  }
}

@media (max-width: 300px) {
  .checkout-collapsable-order-summary-header-wrapper {
    padding: 0 10px !important;
    font-size: 15px !important;
  }
}

.country-dropdown-collapsable-content-showing {
  max-height: 180px !important;
}

.country-dropdown-chevron-rotated {
  transform: rotate(-180deg);
}

// ******
// Checkout Current Form

.checkout-current-form-wrapper {
  width: 100%;
  padding: 60px 20px 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.checkount-current-form-text {
  color: #7c7979;
  letter-spacing: 0.75px;
  font-size: 15px;
}

.checkount-current-form-icon {
  color: #7c7979;
  font-size: 15px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-current-form-completed-or-active {
  color: #1d1d1d;
}