@media (max-width: 1024px) {
  .choose-shipping-address-wrapper {
    font-size: 16px !important;
  }
}

@media (max-width: 450px) {
  .shipping-toggle-header {
    height: 35px;
  }

  .choose-shipping-address-wrapper {
    padding: 0 10px 20px !important;
    font-size: 14px !important;
  }

  #checkout-shipping-methods-wrapper {
    padding-bottom: 20px !important;
  }

  .checkout-form-component-padding {
    padding-top: 20px !important;
  }
}

@media(max-width: 350px) {
  .choose-shipping-address-wrapper {
    font-size: 13px !important;
  }
}