.gallery-container {
  display: flex;
  padding: 5px 0px;
}

.gallery-toggle {
  width: 35px;
  cursor: pointer;
  padding-right: 5px;
  font-size: 35px;
  display: flex;
  align-items: center;
  color: #7f7f7f;
}

.gallery-images-container {
  display: flex;
  max-width: 180px;
  overflow: hidden;
}

.gallery-right-toggle {
  justify-content: flex-end;
  padding-left: 5px;
  padding-right: 0px;
}

.gallary-images-image {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.45s ease-in;
  cursor: pointer;

  &:hover {
    border: 1px solid #1d1d1d;
  }
}

@media (max-width: 640px) {
  .gallery-images-container {
    max-width: 111px;
    margin: 0 2.5px;
  }

  .gallery-toggle {
    padding: 0px;
    width: 20px;
  }

  .gallary-images-image {
    margin: 0 2.5px;
  }
}

@media (max-width: 375px) {
  .gallery-images-container {
    max-width: 92px;
  }

  .gallery-toggle {
    width: 14px;
    font-size: 28px;
  }

  .gallary-images-image {
    width: 41.5px;
    height: 41.5px;
  }
}

// @media (max-width: 640px) {
//   .gallery-images-container {
//     max-width: 120px;
//   }

//   .gallary-images-image {
//     width: 30px;
//     height: 30px;
//   }

//   .gallery-toggle {
//     width: 15px;
//     font-size: 25px;
//     margin-right: 2.5px;
//     padding-right: 0px;
//   }

//   .gallery-right-toggle {
//     margin-left: 2.5px;
//     padding-left: 0px;
//   }
// }

// @media (max-width: 375px) {
//   .gallery-images-container {
//     max-width: 90px;
//   }

//   .gallary-images-image {
//     width: 25px;
//     height: 25px;
//     margin: 0 2.5px;
//   }

//   .gallery-toggle {
//     width: 18px;
//     font-size: 25px;
//   }
// }

// @media (max-width: 325px) {
//   .gallery-container {
//     transform: scale(0.8);
//   }
// }