@import './navbar.scss';
@import './new-arrivals.scss';
@import './products.scss';
@import './product.scss';
@import './filter-products.scss';
@import './gallery-slider.scss';
@import './product-details.scss';
@import './product-details-gallery.scss';
@import './shipping.scss';
@import './cart.scss';
@import './checkout.scss';
@import './add-payment-method-form.scss';
@import './choose-payment-method.scss';
@import './add-shipping-address-form.scss';
@import './choose-shipping-address.scss';
@import './order-summary.scss';
@import './contact-info-form.scss';

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  scroll-margin-top: 120px
}

.app-container {
  margin-top: 50px;
}

.html-overflow-hidden {
  overflow: hidden;
}

.hidden-nav {
  display: none !important;
}

.no-scroll-margin {
  margin-top: 0px !important;
}

.StripeElement {
  width: 100%;
  padding: 15px;
}

.rotating-plus-minus-rotated-tester-1 {
  transform: rotate(450deg) !important;
  opacity: 0.85;
  left: 3px !important;
  top: -11px !important;
}

.rotating-plus-minus-rotated-tester {
  transform: rotate(450deg) !important;
  opacity: 0.85;
  // left: 1px !important;
  // bottom: 1px !important;
}

.open-content {
  max-height: 316px !important;
}

.spin {
  transform: rotate(450deg) !important;
  opacity: 0.85;
  right: 2px !important;
  bottom: 1px !important;
}

.side-nav-slide {
  transform: translateX(0px) !important;
}

.mobile-side-nav-main-content::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.mobile-side-nav-main-content::-webkit-scrollbar-track {
  background: rgb(28, 27, 27);
}

/* Handle */
.mobile-side-nav-main-content::-webkit-scrollbar-thumb {
  // background: rgba(255, 255, 255, 0.5);
  background: #fff;
  border-radius: 10px;
}

.side-nav-main-content-slide, .side-nav-footer-slide {
  transform: translateX(0px) !important;
}

.more-info-popup-content {
  font-size: 15px;
}

.saveInfoIcon {
  margin-right: 10px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  animation: spin 1s infinite linear;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}