.product-details-container {
  display: flex;
  padding-bottom: 80px;
  justify-content: space-evenly;
}

.product-details-left-column-wrapper {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.product-details-left-column-image {
  width: 500px;
  height: 500px;
}

.product-details-right-column-wrapper {
  width: 50%;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.product-details-product-title-wrapper {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-product-colors-container {
  padding-top: 80px;
}

.product-details-product-header {
  margin-bottom: 20px;
}

.product-details-product-colors-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-details-product-color-wrapper {
  padding-right: 20px;
  width: 95px;
  padding-bottom: 20px;
}

.product-details-product-color-image {
  width: 75px;
  height: 75px;
  cursor: pointer;

  &:hover {
    border: 1px solid #1d1d1d;
  }
}

.product-details-product-color-title {
  padding-top: 2px;
  text-align: center;
}

.product-details-product-sizes-container {
  padding-top: 60px;
}

.product-details-product-sizes-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-details-product-size-wrapper {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c2c2c2;
  cursor: pointer;

  &:hover {
    border: 1px solid #1d1d1d;
  }
}

.product-details-product-details-container {
  padding-top: 80px;
  width: 100%;
}

.product-details-product-cart-btn-container {
  padding-top: 80px;
  width: 100%;
}

.product-details-product-cart-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #45b3e0;
  cursor: pointer;

  &:active {
    transform: scale(0.95)
  }

  &:focus {
    outline: none;
    text-decoration: none;
    border: none;
  }
}

.product-details-product-cart-floating-btn-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: #fff 0px -19px 16px 6px;
  max-width: 500px;
}

.product-details-product-cart-btn {
  width: 100%;
  height: 100%;
  padding: 0px;
  box-shadow: #fff 0px 21px 0px 6px;
}

@media (max-width: 1023px) {
  .product-details-container {
    flex-direction: column;

    .product-details-right-column-wrapper {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding: 0px;

      .product-details-product-title-wrapper {
        padding-top: 80px;
      }

      .product-details-product-sizes-container {
        padding-top: 80px;
      }
    }

    // .product-details-product-cart-floating-btn-container {
    //   max-width: 500px;
    // }
  }
}

@media (max-width: 579px) {
  .product-details-container {
    .product-details-left-column-wrapper {
      .product-details-left-column-image {
        width: 400px;
        height: 400px;
      }
    }

    .product-details-right-column-wrapper {
      max-width: 400px;
    }

    .product-details-product-cart-floating-btn-container {
      max-width: 400px;
    }
  }
}

@media (max-width: 479px) {
  .product-details-container {
    padding-bottom: 40px;
    font-size: 14px;

    .product-details-left-column-wrapper {
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;

      .product-details-left-column-image {
        width: 300px;
        height: 300px;
      }
    }

    .product-details-right-column-wrapper {
      max-width: 300px;

      .product-details-product-title-wrapper {
        padding-top: 40px;
      }

      .product-details-product-colors-container {
        padding-top: 40px;

        .product-details-product-colors-wrapper {
          .product-details-product-color-wrapper {
            width: 60px !important;
            padding-right: 10px;
            padding-bottom: 10px;
  
            .product-details-product-color-image {
              width: 50px !important;
              height: 50px !important;
            }
          }
        }
      }

      .product-details-product-sizes-container {
        padding-top: 30px;

        .product-details-product-sizes-wrapper {          
          .product-details-product-size-wrapper {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
      }

      .product-details-product-details-container {
        padding-top: 30px;
      }

      .product-details-product-cart-btn-container {
        padding-top: 40px;

        .product-details-product-cart-btn {
          padding: 0px;
          height: 40px;
        }
      }

      .product-details-shipping-wrapper {
        .shipping-container {
          padding-top: 40px;
        }
      } 

      .product-details-shipping-wrapper {
        .shipping-wrapper {
          max-height: 44px;

          .shipping-toggle-wrapper {
            padding: 12.5px 10px;
          }
          
          .shipping-inner-content-heading {
            font-size: 16px;
          }
        }
      }
    }

    .product-details-product-cart-floating-btn-container {
      max-width: 300px;
      height: 55px;
    }
  }
}

@media (max-width: 339px) {
  .product-details-container {
    font-size: 12px !important;

    .product-details-left-column-wrapper {
      .product-details-left-column-image {
        width: 225px;
        height: 225px;
      }
    }

    .product-details-right-column-wrapper {
      max-width: 225px;

      .product-details-product-cart-btn {
        font-size: 12px;
      }

      .product-details-shipping-wrapper {
        .shipping-wrapper {
          max-height: 42px;
          
          .shipping-inner-content-heading {
            font-size: 14px !important;
          }
        }
      }
    }

    .product-details-product-cart-floating-btn-container {
      max-width: 225px;
    }
  }
}