.products-container {
  display: grid;
  grid-row-gap: 75px;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1180px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 913px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}