.product-details-gallery-container {
  width: 500px;
  height: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: center;

  .product-details-gallery-toggle {
    width: 70px;
    padding-right: 10px;
    cursor: pointer;
    color: #7f7f7f;
    font-size: 50px;
    display: flex;
    align-items: center;
  }

  .product-details-gallery-images-wrapper {
    width: 360px;
    overflow: hidden;
    display: flex;

    .product-details-gallery-image {
      width: 100px;
      height: 100px;
      margin: 0 10px;
      cursor: pointer;
      position: relative;
      transition: 0.45s ease-in;

      &:hover {
        border: 1px solid #1d1d1d;
      }
    }
  }

  .toggle-right {
    padding-left: 10px;
    padding-right: 0px;
    justify-content: flex-end;
  }
}

@media (max-width: 579px) {
  .product-details-gallery-container {
    height: 95px;
    width: 400px;

    .product-details-gallery-images-wrapper {
      width: 285px;

      .product-details-gallery-image {
        width: 75px;
        height: 75px;
      }
    }

    .product-details-gallery-toggle {
      width: 57.5px;
    }
  }
}

@media (max-width: 479px) {
  .product-details-gallery-container {
    height: 80px;
    width: 300px;

    .product-details-gallery-images-wrapper {
      width: 210px;

      .product-details-gallery-image {
        width: 60px;
        height: 60px;
        margin: 0 5px;
      }
    }

    .product-details-gallery-toggle {
      width: 45px;
      padding-right: 5px;
    }

    .toggle-right {
      padding-left: 5px;
      padding-right: 0px;
    }
  }
}

@media (max-width: 339px) {
  .product-details-gallery-container {
    height: 70px;
    width: 225px;

    .product-details-gallery-images-wrapper {
      width: 180px;

      .product-details-gallery-image {
        width: 50px;
        height: 50px;
      }
    }

    .product-details-gallery-toggle {
      width: 22.5px;
      font-size: 35px;
    }
  }
}
