.product-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-wrapper {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
}

.product-title-wrapper {
  text-decoration: none;
  color: #1d1d1d;
  text-decoration-line: underline;
}

@media (max-width: 640px) {
  .product-container {
    padding: 0 10px;

    .product-image-wrapper {
      width: 150px;
      height: 150px;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media (max-width: 375px) {
  .product-container {
    .product-image-wrapper {
      width: 125px;
      height: 125px;
  
      img {
        width: 125px;
        height: 125px;
      }
    }
  }
}

@media (max-width: 325px) {
  .product-container {
    padding: 0 5px;

    .product-image-wrapper {
      width: 100px;
      height: 100px;
  
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}