.shipping-wrapper-inner-content-visible {
  max-height: 700px !important;
}

.rotated-elmnt--collapsed {
  transform: rotate(450deg) !important;
  opacity: 0.85;
  left: 1px !important;
  bottom: 1px !important;
}