.shipping-wrapper-content-visible {
  max-height: 700px !important;
}

.rotating-plus-minus-rotated {
  transform: rotate(450deg) !important;
  opacity: 0.85;
  left: 1px !important;
  bottom: 1px !important;
}